<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="color-scheme" content="light dark" />
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
        <title>
            {% block title %}Fachschaftentagung Maschinenwesen{% endblock %}
        </title>
    </head>
    <body>
        <header class="container">
            <nav>
                <ul>
                    <li>
                        <strong>
                            <a href="/" class="contrast">FaTaMa</a></strong>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="container">
            {% block content %}{% endblock %}
        </main>
        <footer class="container">
            <hr />
            <p>
                <small>
                    &COPY; 2025 Fachschaftentagung Maschinenwesen.
                    <a href="{{ get_url(path='@/site-notice.md') }}" class="contrast">Impressum</a>.
                </small>
            </p>
        </footer>
    </body>
</html>
